<div class="navbar-fixed">
    <nav class="nav-wrapper black">
      <div class="container">
        <a href="#" class="brand-logo">Check Mail</a>
        <a href="#" class="sidenav-trigger" data-target="mobile">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#home">Home</a></li>
          <li><a href="#search">Search</a></li>
          <!-- <li><a href="#">Popular Places</a></li>
          <li><a href="#">Gallery</a></li> -->
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile">
      <li><a href="#">Home</a></li>
      <li><a href="#">Search</a></li>
    <!--   <li><a href="#">Popular Places</a></li>
      <li><a href="#">Gallery</a></li> -->
      <li><a href="#">Contact</a></li>
  </ul>