 {% load staticfiles %}
 
<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mail Spam</title>
</head>
<body id="home" class="scrollspy">
  <!-- Designing Of Navigation Bar -->
  {% include 'navbar1.html'  %}
 
 <section class="section section-search center  grey  white-text scrollspy" id="search">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>{{ msg }}</h3>
          <div class="input-field">
            
          </div>
        </div>
      </div>
    </div>
  </section>
 
  	<!-- 	<img src="/static/img/s.jpg" ">




  <section class="section section-footer center  teal dark white-text">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5>Created By Vaishnavi</h5>
          <p>L<i class="material-icons">favorite</i>ve from India</p>
        </div>
      </div>
    </div>
  </section> -->
  
  <!-- Ending Of Popular Sections -->

  <!-- Starting Of Follow Sections -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section class="section section-follow black center white-text">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h4>Follow Vaish</h4>
          <p>Follow us on Social Media</p>
          <a href="https://facebook.com" class="white-text"><i class="fab fa-facebook fa-4x"></i></a>
          <a href="https://facebook.com" class="white-text"><i class="fab fa-twitter fa-4x"></i></a>
          <a href="https://facebook.com" class="white-text"><i class="fab fa-linkedin fa-4x"></i></a>
          <a href="https://facebook.com" class="white-text"><i class="fab fa-google-plus fa-4x"></i></a>
          <a href="https://facebook.com" class="white-text"><i class="fab fa-pinterest fa-4x"></i></a>
        </div>
      </div>
    </div>
  </section>

</body>

</html>